:root {
  --bg-color: #1A1A1A;
  --bg-secondary-color: #FFFFFF1A;
  --bg-active-color: #FFFFFF;
  --txt-primary-color: #FFFFFF;
  --txt-secondary-color: #A6A6A6;
  --txt-accent-color: #FFCC00;

  --radius-main: 40px;
}