:root {
  --bg-color: #131313;
  --bg-secondary-color: #ffffff1a;
  --bg-active-color: #ffffff;

  --txt-primary-color: #ffffff;
  --txt-secondary-color: #a6a6a6;
  --txt-accent-color: #ffcc00;

  --border-color: #ffffff99;

  --padding-side-main: 40px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary-color);
  border-radius: 5px;

  &:hover {
    background-color: var(--bg-active-color);
  }
}

html {
  font-size: 20px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--txt-primary-color);
}

.txt-dance {
  color: var(--txt-accent-color);
  font-family: "Rock Salt";
  font-size: rem(20px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
