:root {
  --bg-color: #131313;
  --bg-secondary-color: #ffffff1a;
  --bg-active-color: #ffffff;

  --txt-primary-color: #ffffff;
  --txt-secondary-color: #a6a6a6;
  --txt-accent-color: #ffcc00;

  --border-color: #ffffff99;

  --padding-side-main: 40px;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-active-color);
  border-radius: 5px;

  &:hover {
    background-color: var(--bg-active-color);
  }
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--txt-primary-color);
}

.txt-dance {
  color: var(--txt-accent-color);
  font-family: "Rock Salt";
  font-size: rem(20px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--txt-primary-color) !important;
  caret-color: var(--txt-primary-color) !important;
}

input {
  transition: background-color 0.3s ease, border-bottom-color 0.3s ease;
}
